* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --clr-primary-solid: #FF900E;
  ;

  --clr-white-000: #FFFFFF;
  --clr-white-100: #efefef;
  --clr-white-200: #dcdcdc;

  --clr-dark-000: #131313;
  ;
  --clr-dark-100: #424242;
  --clr-dark-200: #727272;

  --clr-background: #FFF4E7;
  ;

}

/* Common Class */
.btn-primary {
  border: none;
  background-color: var(--clr-primary-solid);
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: var(--clr-white-000);
  border-radius: 8px;
  margin-bottom: 50px;
  border: 1px solid var(--clr-primary-solid)
}


.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;

}

.margin-bot {
  margin-bottom: 100px;
}

/*  Header Style */

header {
  background-color: var(--clr-background)
}


nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

}

.nav-title {
  font-weight: 700;
  font-size: 45px;
}



ul {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

ul li {
  list-style: none;

}

ul li a {
  text-decoration: none;
  color: var(--clr-dark-100);
  font-weight: 500;
  font-size: 18px;

}

.banner-text {
  text-align: center;
  width: 70%;
  margin: 0 auto;

}

.banner-title {
  font-weight: 700;
  font-size: 4vw;
  margin-top: 80px;
}

.description-text {
  margin: 30px 0;
}

.banner-img {
  padding-bottom: 30px;
}

.banner-img img {
  object-fit: cover;
  width: 100%;


}

/* Main Start  */
/* quick-list-section */
.quick-list-section {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  align-items: center;
}

.quick-list-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}


.text-primary {
  color: var(--clr-dark-200);
}

.text-secondary {
  color: var(--clr-primary-solid);
}

.section-title {
  font-weight: 700;
  font-size: 45px;
}


/* features-you section style  */

.features-container {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  align-items: flex-start;
}

.features-you-left {
  padding-right: 50px;
}

.features-title {
  font-weight: 700;
  font-size: 45px;
  padding-left: 15px;
  border-left: 5px solid var(--clr-primary-solid);
}


.faeture-list-item {
  padding: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;

}



.ten-year-expricnce {
  background-color: var(--clr-primary-solid);
  color: var(--clr-white-000);
  display: inline-block;

  position: absolute;
  width: 342px;
  height: 200px;
  left: 800px;
  top: 2978px;

  background: #FF900E;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ten-year-title {
  font-weight: 700;
  font-size: 65px;
}

.exprience {
  font-weight: 500;
  font-size: 25px;
}


/* Some Fact Style */

.some-facts {
  margin-top: 100px;
}

.some-fact-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}

.some-fact-text {
  margin-bottom: 100px;
}

.fact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid var(--clr-primary-solid);
  border-radius: 8px;

  width: 241.83px;
  height: 241.83px;
}

.fact-item h1 {
  font-weight: 600;
  font-size: 45px;
  padding: 5px;
}

.fact-item p {
  font-weight: 600;
  font-size: 20px;
  color: var(--clr-dark-200);
}

/*  our-sponspors */


.sponspors-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}

.soonspors-text{
 text-align: center;
 margin-bottom: 100px;
}

.our-sponspors-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

.sponspors-item img {
  filter: grayscale(100%);
}

/* Footer */

footer {
  background-color: var(--clr-background);
}

.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: var(--clr-dark-000);
  padding: 80px 0;
}

.contact {
  width: 50%;
}

.contact-text {
  margin: 14px 0;
}

.contact-title{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}
.phone {
  margin: 14px 0;
}

.social-icons{
  display: flex;
 
  gap: 20px;
}

.subscribe {
  width: 50%;
  padding-left: 300px;
}
.subscribe input {
  margin: 14px 0;
  padding: 14px;
  width: 92%;
  border-radius: 7px;
  border: 2px solid var(--clr-dark-100);
  background-color: transparent;
  font-size: 18px;
  color: var(--clr-dark-000);
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
}

.sub-footer{
  background-color: #fcdbb3;
  text-align:center;
  padding: 30px 10px;
}


 /* Button Hover */
 .btn-primary:hover{
    
  color:  #FD6E0A ;
 background-color: #ffff;
 border: 1px solid #FD6E0A ;
 }


 /* animation div */

 .fact-item:hover{
  color:#131313;
  background-color: var(--clr-background);
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: var(--clr-background);}
  to {background-color: #f8a163;}
}
 }